@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";

@font-face {
    font-family: 'Eurostile';
    src: url('../../fonts/Eurostile-Black.eot');
    src: url('../../fonts/Eurostile-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Eurostile-Black.woff2') format('woff2'),
        url('../../fonts/Eurostile-Black.woff') format('woff'),
        url('../../fonts/Eurostile-Black.ttf') format('truetype'),
        url('../../fonts/Eurostile-Black.svg#Eurostile-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eurostile'; 
    src: url('../../fonts/EurostileRegular.eot');
    src: url('../../fonts/EurostileRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/EurostileRegular.woff2') format('woff2'),
        url('../../fonts/EurostileRegular.woff') format('woff'),
        url('../../fonts/EurostileRegular.ttf') format('truetype'),
        url('../../fonts/EurostileRegular.svg#EurostileRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eurostile'; 
    src: url('../../fonts/Eurostile-Bold.eot');
    src: url('../../fonts/Eurostile-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Eurostile-Bold.woff2') format('woff2'),
        url('../../fonts/Eurostile-Bold.woff') format('woff'),
        url('../../fonts/Eurostile-Bold.ttf') format('truetype'),
        url('../../fonts/Eurostile-Bold.svg#Eurostile-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer base {    
    *, ::before, ::after{
        @apply box-border;
        transition: all 0.3s;
    }    
    body {
        @apply p-0 m-0 font-eurostile font-bold text-16 leading-26 text-richBlack;   
    }  
    .container-fluid{
        @apply px-55 large:px-30;
    }
    .container-small{
        @apply  px-100 tablet:px-30;
    }
    ul{
        @apply list-none m-0 p-0;
    }
    a {
        @apply no-underline text-darkBlue hover:text-black transition-common duration-200 ease-linear; 
    }
    a, button, input, textarea, select {
        @apply outline-0;
        box-shadow: none;
    }
    p{
        @apply m-0 text-16 leading-26 font-eurostile font-normal;
    }
    img{
        @apply object-cover h-full w-full;
    }
    ul {
        @apply p-0 mt-0;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply m-0 font-eurostile leading-auto uppercase font-black text-black;
    }
    h1, .h1 {
        @apply text-64 large:text-48; 
    } 
    h2, .h2 {
        @apply text-48 large:text-32; 
    }
    h3, .h3 {
        @apply text-32 large:text-24 font-normal font-eurostile; 
    }
    h4, .h4 {
        @apply text-20;
    }
    h5, .h5 {
        @apply text-16 font-bold;
    } 
    section{
        @apply relative;
    }
    input,
    select{
        @apply bg-white rounded-10 py-10 px-28 border-solid border-1 border-black h-50 w-full text-richBlack;
    }
    select{
        background-image: url('../images/arrow-point-to-right.svg');
        @apply appearance-none bg-no-repeat h-15 w-15 bg-contain;
    }
    input::placeholder{
        @apply font-normal opacity-40 text-richBlack;
    }
    textarea{
        @apply bg-white rounded-10 py-10 px-28 border-solid border-1 border-black h-120 w-full;
    }
    label{
        @apply font-normal text-richBlack mb-4;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .quanity-number{
        @apply flex items-center justify-center gap-28 mt-48 flex-wrap gap-y-[18px];
    }
    .quantity .quantity__minus,
    .quantity .quantity__plus{
        @apply h-15 w-15;
    }
    .quantity .quantity__minus img,
    .quantity .quantity__plus img{
        @apply object-contain
    }
    .textAnim{
       @apply relative;
    }
    .zoomAnim{
        @apply scale-0 transition-all duration-700 ease-linear;
    }
    .roundedImg{
        @apply border-solid border-20 border-grey rounded-half shadow-letterShadow laptop:border-12;
    }
    .roundedImg img{
        @apply rounded-half;
    }
    .section-title{
        @apply flex items-center flex-col;
    }
    .home .section-title{
        @apply flex-col-reverse;
    }
    .section-title h2{
        @apply text-black;
    }
    .section-title h3{
        @apply text-richBlack;
    }
    .section-title p{
        @apply mt-14 max-w-1012 m-auto;
    }
    .section-common-padding{
        @apply py-80 small:py-55;
    }
    .section-large-padding{
        @apply py-100 tablet:py-55;
    }
    .section-small-padding{
        @apply py-70 small:py-55;
    }
    .radio-group{
        @apply flex justify-between py-20 pt-30 border-0 border-t-1 border-b-1 border-solid border-black border-opacity-[0.28] max-w-[600px] m-auto md:flex-col gap-y-[18px];
    }
    .gchoice{
        @apply flex gap-13 items-center;
    }
    .gchoice input[type=radio]{
        @apply border-black accent-darkBlue appearance-none h-14 w-14 relative p-0 m-0;
    }
    .gchoice input[type=radio]::before{
        content: "";
        @apply absolute top-2 left-2 bg-darkBlue h-8 w-8 rounded-half scale-0 transition-common duration-200 ease-linear;
    }
    .gchoice input[type=radio]:checked:before{
        @apply scale-1;
    }
    .gchoice label{
        @apply font-bold font-eurostile text-black; 
    }

}

@layer components {  
     .theme-btn{
        @apply pt-12 pb-10 px-28 bg-darkBlue relative transition-common duration-300 ease-in-out text-16 leading-26 text-white inline-block uppercase z-1 max-w-fit overflow-hidden rounded-10 border-2 border-solid border-darkBlue h-50; 
     }
     .theme-btn:hover{
        @apply text-white bg-black;
     }
}
@layer utilities {  
    .tr-header{
        @apply top-0 py-22 left-0 right-0 bg-white z-9;
    }
    .tr-header.is-sticky { 
        animation-name: stickySlideDown; 
        animation-duration: 0.5s; 
        @apply fixed top-0 left-0 w-full transition-all duration-500 z-99 animate-stickySlideDown;   
    }
    .top-navigation .top-bar-brand{
        @apply  laptop:max-w-[180px];
    }
    .top-navigation .top-bar-brand .nav-brand{
        @apply max-w-[219px] h-75 block;
    }
   .nav-brand img{
    @apply object-contain;
   }
    .top-bar-menu ul li{
        @apply relative;
    }
    .top-bar-menu ul li a{
        @apply text-richBlack text-16 leading-26 capitalize py-53 block;
    }
    .top-bar-menu ul li.current-menu-item a, .top-bar-menu ul li a:hover, .top-bar-menu ul li a:focus, .top-bar-menu ul li:hover a{ 
        @apply text-darkBlue;
    }
    .top-navigation .top-bar-right .top-bar-menu{
        @apply flex-1_auto;
    }
    .home .tr-header .top-navigation .top-bar-right .top-bar-menu{
        @apply justify-start;
    }
    .home .tr-header .top-navigation .main-menu{
        @apply gap-70;
    }
    .accordian-menu{
        @apply fixed top-[92px] shadow-menuShadow left-minus_100% right-0 w-full bg-richBlack py-35 z-2 transition-all duration-300 ease-in-out overflow-y-auto flex items-center justify-center;
    }
    .accordian-menu.open{
        @apply left-0;
    }
    .accordian-menu .menu{
        @apply text-center flex flex-col gap-30;
    }
    .accordian-menu .menu .menu-item{
        @apply w-full;
    }
    .accordian-menu .menu .menu-item a{
        @apply text-white capitalize text-16 leading-26  inline-block;
    }
    .mobile-search.open{
        @apply left-0;
    }
    .mobile-search .form-wrapper{
        @apply relative;
    }
    .responsive-menu .toggle_btn.active svg path,
    .responsive-menu .call-icon:hover svg path{
        @apply fill-darkBlue;
    }
    /* header end */

    /* hero-banner start */
    .hero-banner{
        @apply bg-no-repeat bg-cover bg-center h-[700px] md:h-550 flex items-center relative z-1 md:justify-center;
    }
    .hero-banner.inner-page-banner{
        @apply h-250 md:h-200 md:justify-start;
    }
    .hero-banner.inner-page-banner .title{
        @apply max-w-max;
    }
    .hero-banner::before{
        content: '';
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.61) 36.46%, rgba(0, 0, 0, 0.46) 71.35%, rgba(0, 0, 0, 0.00) 100%);
        @apply absolute top-0 bottom-0 left-0 h-full w-full z-1_minus;
    }
    .home .hero-banner::before{
       @apply md:bg-none md:bg-black md:bg-opacity-[0.48];
    }
    .hero-banner .title{
        @apply max-w-530 text-white md:text-center;
    }
    .hero-banner .title h1{
        @apply mb-10 text-white md:text-47 leading-44;
    }
    .hero-banner .title h3{
        @apply mb-20 text-white;
    }
    /* hero-banner end */

    /* zigzagsection */
    .tr-zigzag-section .wraper .image-wrapper{
        @apply min-w-[637px] h-550 w-[48%] large:w-full large:min-w-[auto] rounded-10;
    }
    .home .tr-zigzag-section .wraper .image-wrapper{
        @apply h-700 md:hidden;
    }
    .tr-zigzag-section.contact-section .wraper .image-wrapper{
        @apply w-[57.165%] large:w-full large:h-288;
    }
    .tr-zigzag-section .wraper .image-wrapper img{
        @apply rounded-10;
    }
    .tr-zigzag-section .wraper .text-wrapper{
        @apply flex-auto large:w-full;
    }
    .tr-zigzag-section .wraper .text-wrapper .text-content{
        @apply mt-14;
    }
    .tr-zigzag-section .wraper .text-wrapper .quality-list{
        @apply w-full mt-40 md:mt-32;
    }
    .tr-zigzag-section .wraper .text-wrapper .quality-list ul{
        @apply flex flex-col gap-28 md:gap-20;
    }
    .tr-zigzag-section .wraper .text-wrapper .quality-list ul li{
        @apply bg-cream pt-22 pb-14 px-28 md:px-10 md:pb-20 border-solid border-1 border-darkBlue rounded-10 text-center text-black font-black uppercase;
    }
    .tr-zigzag-section .wraper .text-wrapper .quality-list ul li h4{
        @apply text-16;
    }
    .tr-zigzag-section .wraper .text-wrapper .cotnact-list{
        @apply mt-40 w-full text-center md:mt-14;
    }
    .tr-zigzag-section .wraper .text-wrapper .cotnact-list ul{
        @apply flex items-center justify-center flex-col;
    }
    .tr-zigzag-section .wraper .text-wrapper .cotnact-list ul li{
        @apply py-20 flex items-center gap-8 border-0 border-b-1 border-solid border-black border-opacity-[0.28] w-full justify-center; 
    }
    .tr-zigzag-section .wraper .text-wrapper .cotnact-list ul li:first-of-type{
        @apply  border-t-1 border-b-1 border-solid border-black border-opacity-[0.28]; 
    }
    .tr-zigzag-section .wraper .text-wrapper .theme-btn{
        @apply mt-40 md:mt-28;
    }
    /* zigzagsection end */

    /* form wrapper */
    .rental-pricing  .radio-group .gchoice label{
        @apply uppercase text-20 font-black;
    }
    .rental-pricing  .radio-group .gchoice label span{
        @apply font-normal mr-3;
    }
    /* form wrapper end */
}     

/* Responsive CSS Start */

@screen large{
    .tr-zigzag-section .wraper .image-wrapper{
        @apply h-auto
    }
}

@screen md{
    .responsive-menu .nav-brand{
        @apply max-w-[140px] h-48;
    }
    .responsive-menu .nav-brand img{
        @apply object-contain;
    }
    .responsive-menu .toggle_btn{
        @apply h-20 w-20;
    }
    .tr-zigzag-section .wraper .image-wrapper{
        @apply h-280
    }
}
  
/* Responsive CSS End */
